<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://thelia.net/schema/dic/config" xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

	<loops></loops>

	<forms>
		<form class="HookPiwikAnalytics\Form\Configuration" name="hookpiwikanalytics.configuration.form"/>
	</forms>

	<commands></commands>

	<services>
		<service class="HookPiwikAnalytics\EventListeners\CartEventListener" id="hookpiwikanalytics.action.front.cart">
			<tag name="kernel.event_subscriber"/>
		</service>
	</services>

	<hooks>
		<hook class="HookPiwikAnalytics\Hook\FrontHook" id="hookpiwikanalytics.hook.front.main" scope="request">
			<tag event="main.body-bottom" name="hook.event_listener"/>
		</hook>
	</hooks>

</config>
